/* wiki tictet number #22716*/
span.p-limited
{
  display:block;   
}


/* wiki tictet number #22551, #22949*/
/* style for align right*/
blockquote>p.alignright
{
	text-align:right;
	margin-right: -10%;
}


/* wiki tictet number #22950*/
/* style for underline*/
span.un
    {
    text-decoration: underline;
    }



/* wiki tictet number #22551, 22949*/
/* style for align right*/
.alignright
{
	text-align:right;
}

/* style for the align center*/
.aligncenter
{
  text-align:center;   
}

/* wiki tictet number Bug #22721*/
.guidecardtitle
{
    font-style: normal;
    font-weight: bold;
    color: black;
}
/* wiki tictet number Bug #22721*/
/* style for the li element*/
li
{
    margin-left:3.50em !important;
    
}
/* wiki tictet number Bug #22721*/
/* style for the span.lilabel element*/
span.lilabel
{
   margin-right:0.1em;
/* wiki tictet number Bug #23625*/
}

/* wiki tictet number Bug #22723*/
span.h-inside-heading
{
    display:block;
    font-weight: bold;
}

/*OSP-491, OSP-492, OSP-497, OSP-498 for the Issue title on the top */

/*OSP-492 color of h1*/

.officialname
{
    display: block !important;
	color:black;
}
