
/******************************************************/



/*OSP-491, OSP-494, OSP-495 for the Issue glp:note */

div.note>blockquote>hr{
      display:none;
}
 
div.note>blockquote>hr~p{
      display:none;
}

/*OSP-491, OSP-492, OSP-496, OSP-501 for the Issue list indent */

li
{
    margin-left:1.875em !important;
}

/*OSP-491,OSP-492, OSP-494 for the Issue section number in the same line of the section title */

h3.sectiontitle>span.designum
{
    display:inline-block;
    margin-right:0.325em;
    font-weight: bold;
}

/*OSP-495 for the Issue (cf LCA 1982, section 12)' on the same line as the text of the clause  */

.p-sea-fix
{
    display: block;
    padding-top: 0.75em;

}

/* OSP-509 for the ittalic issue */
/* OSP-509 for the underline issue*/

span.un
    {
    text-decoration: underline;
    }
	
/* OSP-503 for the subtitle */	
span.subtitle
{
    display:block;
    font-size: 12pt;
}
span.subsect-title
{
	font-weight: bold;
}

/* OSP-504 & OSP-506*/
section.section>div.title
{
    display: inline-block;
}

section.section>div.title>h3.sectiontitle
{
    margin-top:0px;
    margin-bottom:0px;
}

/* OSP-505 To handle inline block*/
span.designum
{
    margin-right: 0.325em;
	display:inline-block;
	font-weight: bold;
}

/* OSP-498, 499 for the leg:officailnum */
span.officialnum
{
    display:block;
}

/* OSP-496 handling Para spacing */
div.subreg
{
	margin-top: 1em;
	margin-bottom: 0em;
}

/* OSP-505 handling Para spacing */
div.subclause
{
	margin-top: 1em;
	margin-bottom: 0em;
}

/* OSP-490 handling Repealed with float */
span.levelstatus
{
	display: inline-block;
	margin-top: 0.100em;
	padding: 3px;
	float: left;
}

/* issue only on iOS platform  */
section.section>span.levelstatus
{
    padding: 7.5px;
}

/*OSP-491, OSP-492, OSP-497, OSP-498 for the Issue title on the top */

/*OSP-492 color of h1*/

.officialname
{
    display: block !important;
	color:black;
}