/*style for class subtitle*/
span.subtitle
{
    display:block;
    font-size: 12pt;
}
/*style for class h3.designum*/
/*h3.sectiontitle>span.designum
{
    display:inline-block;
}*/
	
li
{
    margin-left:3.50em !important;
    
}
/* wiki tictet number Bug #22721*/
/* style for the span.lilabel element*/
span.lilabel
{
   margin-right:0.1em;
   /*display:inline-table;*/
}

dd
{
    margin-left:0em;
}

ul>li>ul
{
    margin-left:0em;
}
/* wiki tictet number Bug #22782*/
/*style for the section*/
section
{
    margin-bottom:0em! important;
}

